<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workflow.engine.mapper.RequestMapper">
    
    <resultMap id="BaseResultMap" type="Request">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="process" jdbcType="BIT" property="process_id" />
        <result column="user" jdbcType="VARCHAR" property="user_id" />
        <result column="state" jdbcType="VARCHAR" property="current_state_id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
    </resultMap>
    
    <sql id="Base_Column_List">
        id, process_id, title, user_id, current_state_id
    </sql>
    
    <sql id="Table_Name">
        request
    </sql>
    
    <sql id="Primary_Key">
        id
    </sql>
    
    <select id="getRequest" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> 
        from <include refid="Table_Name" /> 
        where <include refid="Primary_Key" /> = #{id}
    </select>
    
</mapper>